{
  "env": {
    "node": true
  },
  "globals": {
    "__DEV__": true
  },
  // "extends": "eslint:recommended",
  "rules": {
    "vue/no-lone-template": "off",
    "vue/require-prop-types": "off",
    "vue/require-default-prop": "off",
    "import/named": "off",
    "import/namespace": "off",

    // TODO: remove this rules
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }]
  }
}
